@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.grid-wrapper {
    display: flex;
    flex: 1 1 0px;
    flex-grow: 1;
}

.grid-wrapper>div {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.mat-button {
    background-color: deepskyblue;
    color: aliceblue;
}

::ng-deep .ag-theme-balham .ag-header {
    background-color: deepskyblue;
}

.headerSectionClass {
    background-color: deepskyblue;
}

::ng-deep .ag-theme-balham .ag-header-row {
    color: black;
}